<!DOCTYPE html>
<html>
    <head>
         <title>Semantic Web Application</title>
    </head>
    <body>
      <h1>Hello world</h1>
         {{{body}}}
         {{#each list1}}
          <p>{{ list1.concept }}</p>
         {{/each}}
     </body>
</html>
