<!DOCTYPE html>
<html>
    <head>
         <title></title>
    </head>
    <body>
       {{{body}}}
       {{#each list}}
        <p><a href="index/{{ json name }}">{{ json x }}</a></p>
       {{/each}}
     </body>
</html>
