<!DOCTYPE html>
<html>
    <head>
         <title>Semantic Web Application</title>
    </head>
    <body>
      <h1>Hello world</h1>
         {{{body}}}
        {{#each stardogList}}
          <p>{{name}}</p>
        {{/each}}
     </body>
</html>
