<!DOCTYPE html>
<html>
    <head>
         <title>Semantic</title>
         <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
          <script type="text/javascript" src="/views/js/script.js"></script>
    </head>
    <body>
       <h1>Semantic web app</h1>
       <h2>This is pure bullshit</h2>
       <hr>
       {{{body}}}
     </body>
</html>
